root = true

[*]
indent_size = 4
indent_style = tab
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8

[*.js, *.jsx, *.ts, *.tsx, *.json, *.cjson, *.yml, *.yaml, *.md, *.mdx]
indent_style = tab
indent_size = 4

[{package.json,*.yml,*.cjson}]
indent_style = tab
